<?xml version="1.0"?>
<config>
    <modules>
        <Facturante_Customer>
            <version>0.1.0</version>
        </Facturante_Customer>
    </modules>
    <global>
        <helpers>
            <facturante_customer>
                <class>Facturante_Customer_Helper</class>
            </facturante_customer>
        </helpers>
        <resources>
            <facturante_customer_setup>
                <setup>
                    <module>Facturante_Customer</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </facturante_customer_setup>
        </resources>
        <fieldsets>
            <checkout_onepage_quote>
                <dni_number_address>
                    <to_customer>*</to_customer>
                </dni_number_address>
            </checkout_onepage_quote>
            <customer_account>
                <dni_number_address>
                    <to_quote>*</to_quote>
                </dni_number_address>
            </customer_account>
            <customer_address>
                <dni_number_address>
                    <to_quote_address>*</to_quote_address>
                    <to_order_address>*</to_order_address>
                </dni_number_address>
            </customer_address>
            <sales_convert_quote_address>
                <dni_number_address>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </dni_number_address>
            </sales_convert_quote_address>
            <customer_dataflow>
                <dni_number_address><billing>1</billing></dni_number_address>
            </customer_dataflow>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <facturante_customer>
                    <file>facturante/customer.xml</file>
                </facturante_customer>
            </updates>
        </layout>
    </frontend>
</config>